In [3]:
from scipy.stats import ttest_1samp,ttest_ind,ttest_rel
import pandas as pd

In [9]:
data = pd.read_csv('LungCapData.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'LungCapData.csv'

In [10]:
import os 
os.chdir(r'C:\Users\Suresh\Downloads')

In [11]:
import os 
os.chdir(r"C:\Users\Suresh\Downloads")

In [12]:
a = [6,6,12,7,8]

In [13]:
ttest_1samp(a,4.6)

Ttest_1sampResult(statistic=2.873684832428399, pvalue=0.04530014395444604)

In [15]:
data = pd.read_csv("LungCapData.csv")

In [16]:
data.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [18]:
data.describe()

          LungCap         Age      Height
count  725.000000  725.000000  725.000000
mean     7.863148   12.326897   64.836276
std      2.662008    4.004750    7.202144
min      0.507000    3.000000   45.300000
25%      6.150000    9.000000   59.900000
50%      8.000000   13.000000   65.400000
75%      9.800000   15.000000   70.300000
max     14.675000   19.000000   81.800000

In [19]:
a = data.LungCap
a

0       6.475
1      10.125
2       9.550
3      11.125
4       4.800
        ...
720     5.725
721     9.050
722     3.850
723     9.825
724     7.100
Name: LungCap, Length: 725, dtype: float64

In [20]:
ttest_1samp(a,6)

Ttest_1sampResult(statistic=18.845465292451685, pvalue=9.152936587753803e-65)

In [21]:
x = [21.5, 24.5, 18.5, 17.2, 14.5, 23.2, 22.1, 20.5, 19.4, 18.1, 24.1, 18.5]

In [17]:
ttest_1samp(data,6)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
x = [21.5, 24.5, 18.5, 17.2, 14.5, 23.2, 22.1, 20.5, 19.4, 18.1, 24.1, 18.5]

In [23]:
ttest_1samp(x,12)

Ttest_1sampResult(statistic=9.373514672804532, pvalue=1.4056572339177512e-06)

In [28]:
a = [49.9]

In [29]:
ttest_1samp(a,40)

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [30]:
a = 200

In [31]:
ttest_1samp(a,1992)

C:\Users\Suresh\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3723: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\Suresh\anaconda3\lib\site-packages\numpy\core\_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [40]:
df = pd.read_csv("TwosamplePPT.csv")

In [41]:
df.head()

  Gender   Rating
0       w      84
1       w      97
2       w      58
3       w      90
4       M      88

In [42]:
men = df[(df['Gender ']== 'M')]
men.reset_index(inplace=True)
men

   index Gender   Rating
0      4       M      88
1      5       M      90
2      6       M      52
3      7       M      97
4      8       M      86

In [45]:
women = df[(df['Gender ']== 'w')]
women.reset_index(inplace=True)
women

   index Gender   Rating
0      0       w      84
1      1       w      97
2      2       w      58
3      3       w      90

In [63]:
men.describe()

          index     Rating
count  5.000000   5.000000
mean   6.000000  82.600000
std    1.581139  17.601136
min    4.000000  52.000000
25%    5.000000  86.000000
50%    6.000000  88.000000
75%    7.000000  90.000000
max    8.000000  97.000000

In [49]:
women.describe()

          index     Rating
count  4.000000   4.000000
mean   1.500000  82.250000
std    1.290994  17.017148
min    0.000000  58.000000
25%    0.750000  77.500000
50%    1.500000  87.000000
75%    2.250000  91.750000
max    3.000000  97.000000

In [53]:
result = ttest_ind(men['Rating'],women['Rating'])
result

Ttest_indResult(statistic=0.03006634626631053, pvalue=0.976853412930128)

In [88]:
data = pd.read_csv('LungCapData.csv')

In [89]:
data

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
..       ...  ...     ...   ...     ...       ...
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [92]:
male = data[(data['Gender'] == 'male')]
male.reset_index(inplace=True)

female = data[(data['Gender'] == 'female')]
female.reset_index(inplace=True)

In [93]:
ttest_ind(male['LungCap'],female['LungCap'])

Ttest_indResult(statistic=4.633619604188605, pvalue=4.262070608989442e-06)

In [94]:
df = pd.read_csv("Paried_test_PPT.csv")

In [95]:
df

    Participants  Before  After
0              1      18     22
1              2      21     25
2              3      16     17
3              4      22     24
4              5      19     16
5              6      24     29
6              7      17     20
7              8      21     23
8              9      23     19
9             10      18     20
10            11      14     15
11            12      16     15
12            13      16     18
13            14      19     26
14            15      18     18
15            16      20     24
16            17      12     18
17            18      22     25
18            19      15     19
19            20      17     16

In [97]:
a = df.After
a

0     22
1     25
2     17
3     24
4     16
5     29
6     20
7     23
8     19
9     20
10    15
11    15
12    18
13    26
14    18
15    24
16    18
17    25
18    19
19    16
Name: After, dtype: int64

In [99]:
b = df.Before
b

0     18
1     21
2     16
3     22
4     19
5     24
6     17
7     21
8     23
9     18
10    14
11    16
12    16
13    19
14    18
15    20
16    12
17    22
18    15
19    17
Name: Before, dtype: int64

In [100]:
ttest_rel(a,b)

Ttest_relResult(statistic=3.231252665580312, pvalue=0.004394965993185664)

In [101]:
abc = pd.read_excel("Anova_demo.xlsx")

In [102]:
abc

  Type_of_Car  Sales
0         i20     20
1       Swift     10
2      Baleno     30
3         i20     10
4       Swift      8
5      Baleno     20
6         i20     14
7       Swift     11
8      Baleno     35

In [105]:
import researchpy as rp

In [106]:
x = ols('Sales  ~ (Type_of_car)' , data=abc ).fit()
x

NameError: name 'ols' is not defined

In [107]:
import scipy.stats as stats

In [112]:
stats.f_oneway(abc['Sales'][abc['Type_of_Car'] == 'i20'],
               abc['Sales'][abc['Type_of_Car'] == 'Swift'],
               abc['Sales'][abc['Type_of_Car'] == 'Baleno'])

F_onewayResult(statistic=9.771317829457363, pvalue=0.012961540621068553)

In [114]:
x = pd.read_excel('Anova_demo.xlsx',sheet_name = 'two')

In [115]:
x

      Location Type_of_Car  Sales
0       Bandra         i20     20
1       Bandra       Swift     10
2       Bandra      Baleno     30
3      Andheri         i20     10
4      Andheri       Swift      8
5      Andheri      Baleno     20
6  Churchgate          i20     14
7  Churchgate        Swift     11
8  Churchgate       Baleno     35

In [123]:
from statsmodels.formula.api import ols
import statsmodels as sm

In [131]:
import scipy.stats as stats 
import researchpy as rp 
import statsmodels.api as sm 
from statsmodels.formula.api import ols 
import statsmodels.stats.multicomp

In [121]:
showroom =  ols('Sales ~ C(Type_of_Car)+ C(Location)',x).fit()

In [127]:
result = sm.stats.anova_lm(showroom,type=2)
result

                 df      sum_sq     mean_sq          F    PR(>F)
C(Type_of_Car)  2.0  560.222222  280.111111  17.386207  0.010643
C(Location)     2.0  107.555556   53.777778   3.337931  0.140383
Residual        4.0   64.444444   16.111111        NaN       NaN

In [128]:
y = pd.read_csv(r"C:\Users\Suresh\Downloads\Chi-square test Independence.csv")

In [129]:
y

     Gender Voting_Preference
0      Male          Republic
1      Male          Republic
2      Male          Republic
3      Male          Republic
4      Male          Republic
..      ...               ...
995  Female      Indian_Party
996  Female      Indian_Party
997  Female      Indian_Party
998  Female      Indian_Party
999  Female      Indian_Party

[1000 rows x 2 columns]

In [134]:
table , result = rp.crosstab(y['Gender'],y['Voting_Preference'],test='chi-square')

In [135]:
table

                  Voting_Preference
Voting_Preference        Democratic Indian_Party Republic   All
Gender
Female                          300           50      250   600
Male                            150           50      200   400
All                             450          100      450  1000

In [136]:
result

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =   16.2037
1                    p-value =    0.0003
2                 Cramer's V =    0.1273